body {
  background-image: url("background.webp");
  height: 100vw;
  overflow: hidden;
}
.lang {font-family: times; 
  font-size:  0.5vw; 
  float: right;
  color:  white;}

header, .bio {margin-left: 30%;}

header {font-family: bradley hand, cursive; 
  font-size:  5vw; 
  text-align: left;
  margin-top: 10%;
  color: aliceblue;}
  
h1 {font-family: times; 
  font-size:  3vw; 
  text-align: center;
  color:  aliceblue;}
 
[href] {text-decoration: none;} 
  a:link {color: white;
    font-size: 2vw;}
  a:hover {font-size: 2.5vw;}

.menu { 
  width: 100%;
  padding: 0; 
  justify-content: center; }

li.menu {list-style: none; 
  text-align: center;
  color:  white;
  padding: 0.7vw; 
  margin: 1vw;
  margin-right: auto;
  margin-left: auto;
  width: 20vw;
  height: 1.8vw; 
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);}}
