*{  box-sizing: border-box;}
body {  
  background-color: aliceblue;
  font-family: 'serif';
}
.box {
  margin-top: 4vw;
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.container{
  width: 50%;
  position: absolute;
  margin-left: 50%;
  align-items: center;
  justify-content: center;
}

.swiper {
  width: 80%;
  height: fit-content;
}

.swiper-slide img {
  width: 100%;} 

blockquote {
  font-weight: 100; 
  font-family: times;
  line-height: 2.1vw;
  font-size: 1.6vw;
  font-style: italic;
  position: relative;
  margin: 0;
  margin-top: 5vw;
  margin-bottom: 5vw;
  padding: .5rem;
}

blockquote:before,blockquote:after {
  color: cadetblue;
  font-size: 60px;
}
blockquote:before {
  content: '“';
}
blockquote:after {
  content: '”';
  float: right;
  margin-top: 4.5vw;
}

cite {
  font-size: 1.3vw;
  line-height: 1vw;
}


header {
  position: fixed;
  background-color: white;
  z-index: 9001;
  top:0;
  left:0;
  width: 100%;
  height: 3vw;
  display: flex;
  font-size: 1.7vw;
  padding: 0.4%;
}
.menu { 
  width: 100%;
  display: flex; 
  padding: 0;
  justify-content: center; 
  margin-top: 0;}

li.menu {list-style: none;}
#long {margin-right: 30%}

[href]{
text-decoration: none;
}
  a:visited {color: blue;}  
  a:link {color: blue;}
  a:hover {color: darkblue;}
  a:active {color: yellow;}

.avatar {
  width: 20vw;
  height: auto;
  margin-left: 18%;
  overflow: hidden;
  border-radius: 50%;
}
#profile {
  float: left;
  margin-top: 2%;
  margin-left: 2%;
}
.icon {
  width: 5vw;
  height: auto;
  padding:1vw;

}
.network-icon {
  list-style: none;
  margin-top: auto;
  display: flex;
  width: 30vw;
  padding: 0; 
  justify-content: center;
}

.portrait-title {
  margin-left: 2%;   
  font-weight: normal;
  padding: none;
  margin: none;
  font-family: sans-serif;
}
#hi {
  font-family: verdana;
  font-size: 2.5vw;
}
#name {
  font-size: 2.2vw;
  color: blue;
  text-align: center;
  margin-top: auto;

}
#subtext {
  font-size: 1.7vw;
  color: black;
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 0.8vw;
  font-family: times;
}

.bio {
  font-size: 1.5vw;
  font-family: verdana;
  margin-left: 35%;
  margin-right: 5%;
  margin-bottom: 10%;
  padding: 5%;
  color: black;
}

.year {width:9vw;
text-align: center;
padding:0.2vw}
.code {width:9vw;
text-align: left;
padding:0.1vw;}

table  {
  font-size: 1.5vw;
  font-weight: normal;
  margin-bottom: 3vw;

}


#education {
  margin-top: -3vw;  
  float: left;
}
.courses{
  font-size: 1.4vw;
  font-weight: normal;
  margin-bottom: 10vw;
  margin-left: 1.5vw;
}

.work_exp {
  width: 50%;
}

#recom {
  float: right;
  width: 43%;
  margin-left: 1%;
  margin-top: -27vw;
  margin-bottom: 5vw;
  padding: 1%;
  transition-delay: 200ms;
}


.foots {
  margin-top: 1vw;
  font-size: 1.3vw;
  padding: 0.3vw;
}
.foot-networks {
  list-style: none;
  margin-top: auto;
  display: flex;
  width: 100%;
  padding: 0; 
  justify-content: center;
}
h2 {
  font-size: 2.2vw;
  font-family: verdana;}
h3 {
  font-size: 1.8vw;
  font-family: verdana;}
html {
  scroll-behavior: smooth;
}


label {display:none;}
#toggle  {display:none;cursor: pointer;}







@media only screen and (max-width: 767px) {

.container {
  display: inline-block;
  position: relative;
  margin-left: 0;
  float: none;
  width: 100%;
  height: 50vh;
}

#education {margin-top: 0;}
.box {
  width: 100%;
}
.work_exp {
  display: inline-block;
  width: 100%;
}

#recom {
  float: none;
  width: 105%;
  margin-left: -5%;
  margin-top: 0vw;
  padding: 3vw;
}
blockquote{
  font-size: 3.2vw;
  line-height: 4vw;
}

cite{
  font-size: 2.7vw;
  font-style: normal;
}

.foots {
  font-size: 2vw;
  padding: 0.8vw;
}
table  {
  font-size: 3vw;
}
.courses {font-size: 3vw}
.year {width:20%;}
.code {width:20%}
h2 {font-size: 5vw;}
h3 {font-size: 4vw;}
body {
  margin-left: 5%;
  margin-right: 5%;
}
.menu {
  font-size: 2.2vw;
}
.icon {
  width: 5vw;
}
#name {
  font-size: 5vw;
}
#subtext {
  font-size: 4vw;
}
.avatar {
  float: none;
  width: 50vw;
  margin-left: 18vw;
}
#profile {
  float: none;
  margin-left: auto;
  margin-right: auto;
}
.network-icon {
  width: 100%;
}
.bio {
  font-size: 2.5vw;
  margin-left: 0;
  margin-right: 0;
  padding: 5%;
  color: black;
}

header { background: transparent; }
label {
  display:block; 
  font-size:20px;   
  float:right; cursor: pointer;}

#toggle:checked + .menu {
  display: block;}

.menu { 
  position:relative; 
  display: none; 
  text-align: center;
  margin-left: 0;
  margin-top: 0px;
  width: 95%;}

.menu [href] {
  font-size: 3.5vw;   
  font-family: "Times New Roman"; 
  font-style: initial; }

.menu>a {
  color: midnightblue;}

li.menu { border-style:  none;
  display: block;
  background: aliceblue;
  padding: 1.5vw;
  border-bottom: 0.01em solid;
  display: block;}


}
